body {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  font-family: Ubuntu, sans;
  font-size: 13px;
  color: #333;
  background: #f5f5f5;
}

code {
  background: #ddd;
  padding: 0 5px;
  border-radius: 3px;
}

div[class^='outline-text-'] {
  padding: 0 30px;
}

ul {
  list-style:disc;
}

h1 {
  margin-top: 2em;
}

h2, h3, h4, h5 {
  margin-top: 2em;
  border-bottom: 1px solid #333;
}

h3 {
  padding-left: 15px;
}

h4 {
  padding-left: 30px;
}

a {
  text-decoration:none;
}

a:link {color:#AA00AA;}      /* unvisited link */
a:visited {color:#AA00AA;}  /* visited link */
a:hover {color:#770077;}  /* mouse over link */
a:active {color:#AA55AA;}  /* selected link */

pre {
  background: #eee;
}

#postamble {
  border-top: 1px solid #ccc;
  padding: 8pt;
  font-family: monospace;
  overflow: auto;
}
